<section>
    @if (profileQuery.isPending()) {
        <mc-spinner />
    } @else {
        <mc-avatar
            [src]="profileQuery.data()?.image"
            [fallback]="profileQuery.data()?.username"
        />
        <h1>{{ profileQuery.data()?.username }}</h1>
        <p>{{ profileQuery.data()?.bio }}</p>
        <span>
            @if (profileQuery.data()?.username === user?.username) {
                <button [routerLink]="['/settings']">
                    <img alt="" src="assets/settings.svg">
                    Edit Profile Settings
                </button>
            } @else {
                @if (profileQuery.data()?.following) {
                    <button 
                        [disabled]="unfollowMutation.isPending() || followMutation.isPending()"
                        (click)="unfollowMutation.mutate(profileQuery.data()?.username || '')">
                        Unfollow {{ profileQuery.data()?.username }}
                    </button>
                } @else {
                    <button 
                        [disabled]="unfollowMutation.isPending() || followMutation.isPending()"
                        (click)="followMutation.mutate(profileQuery.data()?.username || '')">
                        Follow {{ profileQuery.data()?.username }}
                    </button>
                }
            }
        </span>
    }
</section>

