@use "main" as *;

section {
  @include center;
  flex-direction: column;
  background: $grey-1;
  padding: 32px;
  color: $grey-3;
  margin-bottom: 40px;

  h1 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  span {
    @include center;
    justify-content: flex-end;
    width: 60%;

    button {
      @include center;
      padding: 0.25rem 0.5rem;
      font-size: $size-2;
      border-radius: 0.2rem;
      gap: 10px;
      border: 1px solid $grey-6;
      color: $grey-6;
      cursor: pointer;

      &:hover {
        color: light-comp(#999);
        background: $grey-6;
      }

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}

mc-avatar {
  --size: 100px;
}
