<main>
    <form (submit)="submit()" [formGroup]="form">
        <h2>Your Profile</h2>
        <mc-input
            inputId="image"
            type="text"
            placeholder="Image url"
            formControlName="image"
            [error]="formValidator.errors('image')"
        />
        <mc-input
            inputId="username"
            type="text"
            placeholder="Username"
            formControlName="username"
            [error]="formValidator.errors('username')"
        />
        <mc-text-area
            inputId="bio"
            placeholder="Short bio about you"
            formControlName="bio"
            [rows]="8"
        />
        <mc-input
            inputId="email"
            type="email"
            placeholder="Email"
            formControlName="email"
            [error]="formValidator.errors('email')"
        />
        <mc-input
            inputId="password"
            type="password"
            placeholder="New Password"
            formControlName="password"
            [error]="formValidator.errors('password')"
        />
        <div>
            <mc-button
                type="submit"
                [disabled]="profileMutation.isPending()"
                [loading]="profileMutation.isPending()"
            >
                Update @if (profileMutation.isPending()) {
                ing
            } Settings
            </mc-button>
        </div>
        <hr />
        <mc-button
            type="button"
            [disabled]="profileMutation.isPending()"
            [loading]="profileMutation.isPending()"
            (click)="isModalOpen.set(true)"
            (keydown)="$event.key === 'Enter' && isModalOpen.set(true)"
        >
            Or click here to log out.
        </mc-button>
    </form>
</main>

@if (isModalOpen()) {
    <mc-dialog [(open)]="isModalOpen" (onConfirm)="logout()">
        <h1 headerText>Log out?</h1>
        <div content>
            Are you sure you want to log out?
            You can always log back in.
        </div>
        <button cancelButton>
            Cancel
        </button>
        <button confirmButton>
            Confirm
        </button>
    </mc-dialog>
}
