<mc-profile-banner />
<mc-tabs-list>
    <mc-tab-trigger
        [active]="!favorited()"
        (click)="author.set(username()); favorited.set('')"
        >My Articles</mc-tab-trigger
    >
    <mc-tab-trigger
        [active]="!!favorited()"
        (click)="author.set(''); favorited.set(username())"
        >Favorited Articles</mc-tab-trigger
    >
</mc-tabs-list>
<section>
    <div class="content">
        @if (articlesQuery.isPending()) {
            <span>
                <mc-spinner />
            </span>
        } @else if (articlesQuery.isError()) {
            <mc-error-handler
                [message]="articlesQuery.error()!.message"
                (retry)="articlesQuery.refetch()"
            />
        } @else {
            <mc-article-list
                [articles]="articlesQuery.data()!.articles"
            />
        }
    </div>
    @if (
        articlesQuery.data() &&
        articlesQuery.data()!.articlesCount > articleLimit()
    ) {
        <mc-pagination
            [currentPage]="page()"
            [limit]="articleLimit()"
            [total]="articlesQuery.data()!.articlesCount"
            (changePage)="changePage($event)"
        />
    }
</section>
