<header>
    <p 
        (click)="
            isFeed.set(false);
            extraTag.set('')" 
        [class.active]="!isFeed() && !extraTag()"
    >
        Global Feed
    </p>
    @if (user && !extraTag()) {
        <p 
            (click)="
                isFeed.set(true);
                extraTag.set('')" 
            [class.active]="isFeed()"
        >
            Your feed
        </p>
    } @if (extraTag()) {
        <p [class.active]="extraTag()">
            {{ extraTag() }}
        </p>
    }
</header>
