<mc-tab>
    <mc-tab-item
        (click)="
            isFeed.set(false);
            extraTag.set('')"
        [active]="!isFeed() && !extraTag()"
    >
        Global Feed
    </mc-tab-item>
    @if (user && !extraTag()) {
        <mc-tab-item
            (click)="
                isFeed.set(true);
                extraTag.set('')"
            [active]="isFeed()"
        >
            Your feed
        </mc-tab-item>
    } @if (extraTag()) {
        <mc-tab-item [active]="!!extraTag()">
            {{ extraTag() }}
        </mc-tab-item>
    }
</mc-tab>
