@import "main";

header {
  @include center;
  justify-content: flex-start;
  margin: 0 auto;
  width: 45vw;
  border-bottom: 1px solid $grey-5;
  color: $grey-5;
  font-size: $size-4;

  @include lg {
    width: 60vw;
  }
  @include breakpoint-height-max(700px) {
    width: 60vw;
  }
}

p {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding: 8px 16px;
  margin-bottom: -1px;

  &:hover {
    color: $grey-3;
  }

  &.active {
    color: $main-green;
    border-bottom: 2px solid $main-green;
  }
}
