<mc-tabs-list>
    <mc-tab-trigger
        (click)="
            isFeed.set(false);
            extraTag.set('')"
        [active]="!isFeed() && !extraTag()"
    >
        Global Feed
    </mc-tab-trigger>
    @if (user && !extraTag()) {
        <mc-tab-trigger
            (click)="
                isFeed.set(true);
                extraTag.set('')"
            [active]="isFeed()"
        >
            Your feed
        </mc-tab-trigger>
    } @if (extraTag()) {
        <mc-tab-trigger [active]="!!extraTag()">
            {{ extraTag() }}
        </mc-tab-trigger>
    }
</mc-tabs-list>
