@import "main";

:host {
  --padding: 12px 24px;
  --width: 100%;
  --border-color: rgb(0 0 0 / 15%);
  --border-radius: 0.5rem;
  --font-size: 1rem;
  --font-family: var(--font-1);
  --color: var(--grey-2);
  --label-color: var(--grey-2);
  --label-font-size: 1rem;
  --underlying-input-width: 90%;
  --error-position: relative;
  display: block;
}

input[type="password"]::-ms-reveal {
  display: none;
}

label {
  @include text-normal(var(--label-font-size), var(--label-color), 500);
  font-family: var(--font-family);
  line-height: 1.25rem;
}

:where(input) {
  @include reset;
  width: var(--underlying-input-width);
  font-weight: 500;
  font-size: var(--font-size);
}

* {
  transition: all 0.3s ease-in-out;
  font-family: var(--font-family);
}

:where(.input) {
  font-weight: 500;
  width: var(--width);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--padding);
  color: var(--color);
  font-size: var(--font-size);
  @include flex-row;
  gap: 0.3rem;
  margin: 0.5rem 0;
  img {
    cursor: pointer;
  }
  &.focusable {
    &.focus {
      outline: 1px solid $main-green;
      &.focus-error {
        border-radius: 0.5rem;
        border: 1px solid #fda29b;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      }
    }
  }
}

.error {
  font-size: 0.85rem;
  font-weight: 500;
  margin-top: -0.25rem;
  position: var(--error-position);
  color: $red-1;
}

i {
  font-weight: 600;
  color: $red-1;
}

[data-visible="true"] {
  opacity: 1;
  visibility: visible;
  height: auto;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
    height 0.3s ease-in-out;
}

[data-visible="false"] {
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
    height 0.3s ease-in-out;
}
