<label [for]="inputId()">
    {{ label() }}
    @if (required()) {
        <i>*</i>
    }
</label>
<div class="input focusable" #base>
    <input
        preventLeadingSpace
        [id]="inputId()"
        [type]="type()"
        [placeholder]="placeholder()"
        [required]="required()"
        [autocomplete]="autocomplete()"
        (focus)="
            base.classList.toggle('focus');
            error() ? base.classList.toggle('focus-error') : null;
        "
        (blur)="
            base.classList.remove('focus');
            error() ? null : base.classList.remove('focus-error');
        "
        *ngIf="control"
        [formControl]="control"
        #input
    />
</div>
<p class="error">{{ error() }}</p>
