<main>
    <form [formGroup]="form" (submit)="submit()">
        <h2>Login to your account</h2>
        <a [routerLink]="['/register']">Need an account?</a>
        <p class="error">{{ loginMutation.error()?.message }}</p>
        <mc-input
            label="Email Address"
            inputId="login-email"
            type="email"
            placeholder="Enter your email address"
            formControlName="email"
            [error]="formValidator.errors('email')"
        />
        <mc-input
            label="Password"
            inputId="login-password"
            type="password"
            placeholder="Enter your password"
            formControlName="password"
            [error]="formValidator.errors('password')"
        />
        <mc-button
            type="submit"
            [disabled]="form.invalid || loginMutation.isPending()"
            [loading]="loginMutation.isPending()"
        >
            Submit
        </mc-button>
    </form>
</main>
