<h1>{{ article().title }}</h1>
<div class="article-meta">
    <div class="img">
        <img [src]="article().author.image" alt="" />
    </div>
    <summary>
        <a 
            [routerLink]="['/profile', article().author.username]"
        >
            {{article().author.username}}
        </a>
        <p>{{ article().createdAt | date : "longDate" }}</p>
    </summary>
    <!-- If current user is same as author: edit, delete -->
    @if (article().author.username === user?.username) {
        <span>
            <button class="edit"
                [routerLink]="['/editor']"
                [state]="{ article: article() }"
            >
                Edit Article
            </button>
            <button 
                class="delete"
                (click)="deleteArticle(article().slug)"
                [disabled]="deleteMutation.isPending()"
            >   
                Delete Article
            </button>
        </span>
    } @else {
        <!-- if current user is not same as author:  -->
         <!-- first button -> follow | unfollow -->
         <!-- second button -> favourite | unfavourite -->
        <span>
            @if (article().author.following) {
                <button 
                    class="follow active"
                    (click)="unfollowAuthor(article().author.username)"
                    [disabled]="unfollowMutation.isPending()"
                >
                    Unfollow {{ article().author.username }}
                </button>
            } @else {
                <button 
                    class="follow"
                    (click)="followAuthor(article().author.username)"
                    [disabled]="followMutation.isPending()"
                >
                    Follow {{ article().author.username }}
                </button>
            } @if (article().favorited) {
                <button 
                    class="favourite active"
                    (click)="unfavoriteArticle(article().slug)"
                    [disabled]="unfavoriteMutation.isPending()"
                >
                    Unfavorite Article ({{ article().favoritesCount }})
                </button>
            } @else {
                <button
                    class="favourite"
                    (click)="favoriteArticle(article().slug)"
                    [disabled]="favoriteMutation.isPending()"
                >
                    Favorite Article ({{ article().favoritesCount }})
                </button>
            }
        </span>
    }
</div>
