@import "main";

:host {
  @include center;
  flex-direction: column;
  align-items: flex-start;
  background: $dark-2;
  padding: 32px 20%;
  color: $light;
  margin-bottom: 40px;
  @include lg {
    padding: 32px 10%;
  }
  @include breakpoint-height-max(700px) {
    padding: 32px 10%;
  }

  h1 {
    font-weight: 600;
    font-size: 2.8rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }

  .article-meta {
    margin-top: 2rem;
    height: calc($size-3 + $size-2);
    gap: 10px;
    @include center;

    summary {
      display: block;

      a {
        color: $light;
        text-decoration: none;
        font-size: $size-3;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }

      p {
        font-size: $size-2;
        color: $grey-4;
        font-weight: 300;
      }
    }

    div.img {
      width: calc($size-3 + $size-2);
      height: calc($size-3 + $size-2);

      img {
        @include image;
      }
    }

    span {
      @include center;
      margin-left: 20px;
      gap: 5px;

      button {
        @include center;
        padding: 0.25rem 0.5rem;
        font-size: $size-2;
        border-radius: 0.2rem;
        gap: 10px;
        cursor: pointer;
        background: transparent;

        &.edit,
        &.follow {
          color: $grey-7;
          border: 1px solid $grey-7;

          &:hover,
          &.active {
            color: light-comp(#ccc);
            background: $grey-7;
          }
        }

        &.delete {
          color: $red-1;
          border: 1px solid $red-1;

          &:hover {
            color: light-comp(#b85c5c);
            background: $red-1;
          }
        }

        &.favourite {
          color: $main-green;
          border: 1px solid $main-green;

          &:hover,
          &.active {
            color: light-comp(#5cb85c);
            background: $main-green;
          }
        }

        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }
}
