<main>
    <form [formGroup]="form" (submit)="submit()">
        <h2>Create an account</h2>
        <a [routerLink]="['/login']">Already have an account?</a>
        <mc-input
            label="Username"
            inputId="login-name"
            type="text"
            placeholder="Username"
            formControlName="username"
            [error]="formValidator.errors('username')"
        />
        <mc-input
            label="Email Address"
            inputId="login-email"
            type="email"
            placeholder="Enter your email address"
            formControlName="email"
            [error]="formValidator.errors('email')"
        />
        <mc-input
            label="Password"
            inputId="login-password"
            type="password"
            placeholder="Enter your password"
            iconRightUrl="assets/icons/eye.svg"
            formControlName="password"
            [error]="formValidator.errors('password')"
        />
        <mc-button
            type="submit"
            [disabled]="form.invalid || registerMutation.isPending()"
            [loading]="registerMutation.isPending()"
        >
            Submit
        </mc-button>
    </form>
</main>
