@if (articleQuery.isLoading()) {
    <div class="page">
        <mc-spinner />
    </div>
} @else if (articleQuery.isError()) {
    <div class="page">
        <mc-error-handler [message]="articleQuery.error().message" />
    </div>
} @else {
    <div class="banner">
        <h1>{{ articleQuery.data()?.title }}</h1>
        <mc-article-credits [article]="articleQuery.data()!" />
    </div>
    <article>
        <p>{{ articleQuery.data()?.body }}</p>
        <ul>
            @for (tag of articleQuery.data()?.tagList; track $index) {
                <li>{{ tag }}</li>
            }
        </ul>
        <hr />
    </article>
    <div class="grid-box">
        <mc-article-credits [article]="articleQuery.data()!" />
    </div>
    <div class="comments-list">
        @if (!user) {
            <p>
                <a routerLink="/login">Sign in</a> or
                <a routerLink="/register">Sign up</a> to add comments on this
                article
            </p>
        } @else {
            <mc-comment-box [editMode]="true" />
            @if (commentsQuery.fetch.data()) {
                @for (
                    comment of commentsQuery.fetch.data() || []
                        | sort: "createdAt" : "desc";
                    track comment.id
                ) {
                    <mc-comment-box [comment]="comment" />
                }
            }
        }
    </div>
}
