@use "main" as *;

:host{
  display: block;
  margin-bottom: 3rem;
}

h1 {
  font-weight: 600;
  font-size: 2.8rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

ul,
li {
  display: inline;
  list-style: none;
  font-size: $size-1;
  color: #bbb;
}

ul {
  li {
    border: 1px solid #ddd;
    padding: 0.3rem 0.6rem;
    border-radius: 10rem;
    margin-left: 4px;
  }
}

.page {
  @include center;
}

article {
  @include center;
  flex-direction: column;
  padding: 0 10%;

  hr {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  ul {
    align-self: flex-start;
    margin: 0;
    padding-left: 0;
  }

  p {
    font-family: "source serif pro", serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
  }
}

.banner {
  @include center;
  flex-direction: column;
  align-items: flex-start;
  background: $dark-2;
  padding: 32px 20%;
  color: $light;
  margin-bottom: 40px;
  @include lg {
    padding: 32px 10%;
  }
  @include breakpoint-height-max(700px) {
    padding: 32px 10%;
  }
}

.grid-box{
  display: grid;
  place-items: center;

  mc-article-credits{
    ::ng-deep{
      a {
        color: #5cb85c !important;
      }
    }
  }
}

mc-comment-box:first-of-type{
  margin-top: 2rem;
}

.comments-list{
  margin: 0 auto;
  @include flex-column;
  max-width: 750px;
  gap: .75rem;

  p{
    margin-top: 2rem;

    a {
      text-decoration: none;
      color: $main-green;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
