@for (article of articles(); track $index) {
    <article>
        <div class="article-meta">
        <span class="user-info">
            <mc-avatar
                [src]="article.author.image"
                [fallback]="article.author.username"
            />
            <div>
                <a [routerLink]="['/profile', article.author.username]">{{
                        article.author.username
                    }}</a>
                <p>{{ article.createdAt | date : "longDate" }}</p>
            </div>
        </span>
            <button
                [disabled]="
                favoriteMutation.isPending() || unFavoriteMutation.isPending()
            "
                type="button"
                [class]="{ likes: true, active: article.favorited }"
                mcIsAuthenticated
                [clickHandler]="favoriteArticle.bind(this,article.slug, article.favorited)"
            >
                <iconify-icon icon="ph:heart-fill" width="32" height="32"></iconify-icon>
                <p>
                    {{ article.favoritesCount }}
                </p>
            </button>
        </div>
        <a [routerLink]="['/article', article.slug]">
            <h1>{{ article.title }}</h1>
            <p>{{ article.description }}</p>
            <div class="tags">
                <p>Read more...</p>
                <ul>
                    @for (tag of article.tagList; track $index) {
                        <li>{{ tag }}</li>
                    }
                </ul>
            </div>
        </a>
    </article>
} @empty {
    <h1>No articles are here... yet.</h1>
}
