<section class="hero">
    <h1>conduit</h1>
    <p>A place to share your knowledge.</p>
</section>
<main>
    <section>
        <mc-feed-header
            [(isFeed)]="isFeed"
            (isFeedChange)="articlesQuery.refetch()"
            [(extraTag)]="selectedTag"
            (extraTagChange)="articlesQuery.refetch()"
        />
        <div class="content">
            @if (articlesQuery.isPending()) {
                <span>
                    <mc-spinner />
                </span>
            } @else if (articlesQuery.isError()) {
                <mc-error-handler
                    [message]="articlesQuery.error()!.message"
                    (retry)="articlesQuery.refetch()"
                />
            } @else {
                <mc-article-list
                    [articles]="articlesQuery.data()!.articles"
                />
            }
        </div>
        @if (articlesQuery.data()) {
            <mc-pagination
                [currentPage]="page()"
                [limit]="articleLimit"
                [total]="articlesQuery.data()!.articlesCount"
                (changePage)="changePage($event)"
            />
        }
    </section>
    <section class="tags">
        <mc-tag-list
            [(selectedTag)]="selectedTag"
            (selectedTagChange)="articlesQuery.refetch()"
        />
    </section>
</main>
<footer></footer>
