<main>
    <form (submit)="submit()" [formGroup]="form">
        <mc-input
            inputId="title"
            type="text"
            placeholder="Article Title"
            formControlName="title"
        />
        <mc-input
            inputId="description"
            type="text"
            placeholder="What is this article about?"
            formControlName="description"
        />
        <mc-text-area
            inputId="body"
            placeholder="Write your article"
            formControlName="body"
            [rows]="8"
        />
        <mc-input
            inputId="tags"
            type="text"
            placeholder="Enter tags"
            formControlName="tagList"
        />
        <mc-button
            type="submit"
            [disabled]="creationMutation.isPending() || updateMutation.isPending()"
            [loading]="creationMutation.isPending() || updateMutation.isPending()"
        >
            Publish
            @if (creationMutation.isPending() || updateMutation.isPending()) {
                ing
            }
            Article
        </mc-button>
    </form>
</main>
