/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: source sans pro, sans-serif;
}

.page {
  margin: 0 auto;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body:has(.screen-fit) {
  overflow: hidden;
}

router-outlet{
  display: none;
}
