:root {
    /*** fonts ***/
    --font-logo: titillium web, sans-serif;
    --font-1: source sans pro, sans-serif;
    --font-2: "Source Sans 3", sans-serif;

    /*** font sizes ***/
    --size-1: 0.75rem;
    --size-2: 0.85rem;
    --size-3: 1rem;
    --size-4: 1.15rem;
    --size-5: 1.25rem;
    --size-6: 1.5rem;
    --size-7: 1.75rem;
    --size-8: 2rem;
    --size-9: 2.5rem;
    --size-10: 3rem;

    /*** colors ***/
    --light: #fff;
    --light-1: rgb(0 0 0 / 30%);
    --light-2: #ddd;

    --dark: #000;
    --dark-1: rgb(0 0 0 / 80%);
    --dark-2: #333;

    --grey-1: #f3f3f3;
    --grey-2: #55595c;
    --grey-3: #373a3c;
    --grey-4: #bbb;
    --grey-5: #aaa;
    --grey-6: #999;
    --grey-7: #ccc;

    --main-green: #5cb85c;

    --red-1: #b85c5c;
}
